<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Hey there</title>
    </head>
    <style>
    body {
    background-color: white;
    }
    </style>
    <body>
        <div class="container">
            <div class="row  center-align" style="margin-left: 00px;margin-right: 00px;">
                <div class="col s6" style="width: 200px; height: 300px;">
                    <a href="/login/teacher">
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <img class="responsive-img" src="https://i.imgur.com/ykOFdP5.jpg">
                            </div>
                            <div class="card-content">
                                <h5>I'm a Teacher</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s6" style="width: 200px; height: 300px;">
                    <a href="/login/student">
                        <div class="card card-panel hoverable">
                            <div class="card-image">
                                <img class="responsive-img" src="https://i.imgur.com/7pnHTIm.jpg">
                            </div>
                            <div class="card-content">
                                <h5>I'm a Student</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>